/* ADD YOUR STYLES HERE */
*, *::before, *::after{ box-sizing: border-box; }

body{
  font-size: 18px;
}

a{
  text-decoration: none;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.fill-container{
  width: 100%;
}

.row-24 {
  margin: 0 0 20px 30px;
  padding-top: 2px;
}

.column{
  float: left;
}

.column-18 {
  width: 75%;
}

.column-17{
  width: 70.8333%;
}

.column-16{
  width: 66.666%;
}

.column-14{
  width: 58.333%;
}

.column-12{
  width: 50%;
}

.column-11{
  width: 45.833%;
}

.column-8{
  width: 33.333%;
}

.column-6 {
  width: 25%;
}

.column-5{
  width: 20.833%;
}

.column-4{
  width: 16.666%;
}

.column-3{
  width: 12.5%;
}

.column-2{
  width: 8.333%;
}

.column-1{
  width: 4.166%;
}

.push-4{
  margin-left: 16.666%;
}

.push-1{
  margin-left: 4.166%;
}

.input-label{
  text-align: right;
  padding-right: 30px;
  line-height: 35px;
}

input{
  border-radius: 5px;
  border: 1px solid silver;
  height: 35px;
  padding-left: 5px;
}

.signup-checkbox{
  height: auto;
  margin-right: 10px;
  box-shadow: inset 0 -1px 2px 1px grey;
}

.button{
  height: 45px;
}

.button:hover, .button:focus{
  background-color: #BBB;
  outline: none;
}

.button:active{
  background-color: #AAA;
}

/* form validation */
.input-valid{
  box-shadow: 0 0 3px 1px #46CC26;
}

.input-invalid{
  box-shadow: 0 0 3px 1px #FF4B20;
}

.is-valid, .is-invalid{
  padding: 0;
}

.is-valid{
  color: #46CC26;
}

.is-invalid{
  color: #FF4B20;
}

.search-bar{
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #bbb;
  position: relative;
}

.abs-left{
  position: absolute;
  width: 130px;
  left: 10px;
}

.abs-right{
  position: absolute;
  width: 80px;
  right: 15px;
  top: 10px;
}

.fluid-center{
  margin: 0 85px 0 100px;
}

.button-action{
  background-color: #ED828A;
  color: white;
  font-size: 14px;
  height: 30px;
}

/* omnibox */
.omnibox{
  border: 1px solid silver;
  border-radius: 5px;
  display: inline-block;
}

.omnibox ul{
  padding: 0;
  float: left;
  padding: 6px 0 0 4px;
}

.omnibox li {
  display: inline-block;
  background-color: #798AF0;
  border-radius: 3px;
  font-size: 14px;
  padding: 2px 5px;
  color: white;
  border: 1px solid grey;
}

.tag-dismiss {
  font-size: 14px;
  color: #D4D5CC;
  background-color: #606DBF;
  padding: 0px 3px;
  border-radius: 2px;
  margin-right: 2px;
}

.omnibox-input{
  border: none;
  float: left;
}
